[Desktop Entry]
Encoding=UTF-8
Name=Link to Web Scraping with Ruby and Nokogiri for Beginners | Distilled
Type=Link
URL=https://www.distilled.net/resources/web-scraping-with-ruby-and-nokogiri-for-beginners/
Icon=text-html
